body {
    background-color: #d8ffff;
}

.add_pic {
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 5px solid #7a9191;;
}

.nav_btn {
    font-family: Roboto, sans-serif;
    height: 20px;
    margin-bottom: 45px;
    font-size: 16px;
    background-color: #7a9191;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

h2 {
    font-family: Roboto, sans-serif;
}

.add-form {
    width: 500px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box {
    padding: 10px;
    width: 430px;
    margin: 5px 0;
    float: left;
}

.box label {
    width: 120px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
}

.pic-box {
    padding: 10px;
    width: 520px;
    margin: 5px 0;
    float: left;
}

.create-btn {
    width: 150px;
    margin: 5px 0;
    margin-top: 25px;
    float: center
}