body {
   background-color: rgb(253, 224, 241);
}

.search_pic {
   width: 100%;
   max-width: 600px;
   max-height: 400px;
   margin-top: 20px;
   margin-bottom: 15px;
   border: 5px solid rgb(175, 153, 166);
}

.logout_btn {
   font-family: Roboto, sans-serif;
   height: 20px;
   margin-bottom: 45px;
   font-size: 16px;
   background-color: rgb(175, 153, 166);
   border-radius: 5px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   padding: 10px;
   text-align: center;
}

.search-header {
   background-color: #ffffff;
   width: 100%;
   margin-top: 25px;
   padding: 10px;
   text-align: center;
   border-bottom: 1px solid black;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-form {
   width: 350px;
   margin: 20px auto;
   padding: 20px;
   border-collapse: collapse;
   border-radius: 8px;
   background-color: rgba(255, 255, 255, 0.85);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3 {
   align-items: center;
   background-color: #ffffff;
   width: 50%;
   margin: 20px auto;
   padding: 10px;
   text-align: center;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chart-image {
   max-width: 700px;
   width: auto;
   height: auto;
   display: block;
   margin: 10px auto 70px;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}