<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Recipe App Home
    </title>
</head>

<body style="background-color: #0f55a0;">
    <div style="width: 100%; margin-top: 10px; display: flex; justify-content: center;">
        <img src="../../static/recipes/images/welcome.jpg" alt="home" style="width: 100%; max-width: 600px; max-height: 400px;">
    </div>
    <h1 style="display: flex; justify-content: center; color: #fdf102; ">
        Welcome to the Recipe App!
    </h1>
    <br/>
    <h3 style="display: flex; justify-content: center; color: #fdf102; ">
        See our wide range of recipes, and maybe find something new for you to enjoy along the way!
    </h3>
</body>

</html>