<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> <!--The character set for the page-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/recipes/home.css">
    <title>
        Recipe List
    </title>
 </head>

<body>
    <center>
        <div>
            <img src="../../static/recipes/images/welcome.jpg" alt="home" class="welcome_pic">
        </div>
        <h1>
            Welcome to the Recipe App!
        </h1>
        <br />
        <h3>
            See our wide range of recipes, and maybe find something new for you to enjoy along the way!
        </h3>
        <br />

        <a href="{%url 'login' %}" class="login_btn"> Login </a>
    </center>

</body>

</html>