<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> <!--The character set for the page-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/recipes/detail.css">
    <title>
        Recipe Details
    </title>
</head>

<body class="detail_body">
    <center>
        <div class="details_box">
            <img src="{{object.pic.url}}" width="200" height="200"
                style="display: flex; margin-top: 5px; border: 5px solid #ffffff" />

            <h2> {{object.name}} </h2>

            <center>
                <table cellpadding="10">
                    <tr>
                        <td>
                            <b>Cooking time: </b> {{object.cooking_time}} minutes
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ingredients: </b> {{object.ingredients}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Difficulty: </b> {{object.difficulty}}
                        </td>
                    </tr>
                </table>
            </center>

            <p>{{object.description}} </p>
            <br>
            <a href="{% url 'recipes:list' %}" class="back_btn">Back to List</a>
            <a href="{%url 'logout' %}" class="logout_btn"> Logout </a>
        </div>
    </center>
</body>

</html>